@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


:root {
  --foreground-rgb: 251, 246, 238; /* #FBF6EE を RGB 形式に変換 */
  --background-color: 193, 242, 176; /* #65B741 を RGB 形式に変換 */
}

body {
  color: rgb(var(--foreground-rgb)); /* 文字の色の設定 */
  background-color: rgb(var(--background-color)); /* 背景色の設定 */
}