@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');


:root {
  --foreground-rgb: 251, 246, 238; /* #FBF6EE を RGB 形式に変換 */
  --background-color: 193, 242, 176; /* #65B741 を RGB 形式に変換 */
}

body {
  color: rgb(var(--foreground-rgb)); /* 文字の色の設定 */
  background-color: rgb(var(--background-color)); /* 背景色の設定 */
}

.header {
  background-color: #65B741;
  padding: 1rem;
  text-align: center;
  color: black; /* ヘッダー内の文字色を黒色に設定 */
  font-weight: bold;
  font-size: 32px;
}

.header p {
  color: rgb(251, 246, 238); /* 特に <p> タグのテキストカラーを黒に設定 */
}

.button {
  background-color: #FFB534;
  color: #FBF6EE;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.button:disabled {
  background-color: #FFB53499;
}

.status_bar {
  color: black;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.card {
  background-color: rgb(101, 183, 65); /* #65B741 */
  color: rgb(251, 246, 238); /* #FBF6EE */
  padding: 1rem;
  margin: 1rem auto; /* 中央寄せ */
  width: 80%; 
  border-radius: 0.5rem;
}

.card-history {
  background-color: rgb(101, 183, 65); /* #65B741 */
  color: rgb(251, 246, 238); /* #FBF6EE */
  padding: 1rem;
  margin: 1rem auto; /* 中央寄せ */
  width: 80%; 
  border-radius: 0.5rem;
}

.card-title {
  font-weight: bold;
  font-size: 24px;
}

.card-content {
  margin-top: 0.5rem;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 32px;
  min-height: 240px; /* content 部分の最小の高さを設定 */
}

.navi {
  margin: 1rem auto; /* 中央寄せ */
  margin-left: 12rem;
}